ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true

    # Input sources
    pose0: /uwb/pose
    pose0_config: [true, true, false,
                   false, false, true,
                   false, false, false,
                   false, false, false,
                   false, false, false]

